body {background-color: gray; font-family: 'Kanit', sans-serif; letter-spacing: 3px; text-shadow: 1px 1px black;}
.col-6{
padding: 70px;
display: flex;
justify-content: space-evenly;
margin-right: 200px;
}
.img{
    width: 200px;
    transition: transform .3s;
}
.img:hover{transform: scale(1.5);}
.title{
    text-align: center;
    color: white;
    font-size: 50px;
}